<div class="card">
    <div class="card-body">
        <h2 class="card-title">{{blog.title}}</h2>
        <p class="card-text">{{blog.body}}</p>
        <p class="card-text"><small class="text-muted">created by {{blog.user.username}} on {{format_date
                blog.date}}</small></p>
    </div>
</div>

<form id="comment-form">
    <div class="form-group">
        <textarea class="form-control" id="body-input" rows="2" placeholder="add a comment"></textarea>
        <button type="submit" class="btn btn-info">add</button>
    </div>
</form>

{{#if comments.length}}
{{#each comments as |comment|}}
<div class="card" style="max-width: 18rem;">
    <div class="card-header">{{format_date comment.date}}</div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>{{comment.body}}</p>
            <footer class="blockquote-footer">{{comment.user.username}}</footer>
        </blockquote>
    </div>
</div>
{{/each}}
{{/if}}

<script src="/js/blog.js"></script>