<div>
    <h2>{{blog.title}}</h2>
    <p>created by {{blog.user.username}} on {{blog.date}}</p>
    <p>{{blog.body}}</p>
</div>

{{#if comments.length}}
{{#each comments as |comment|}}
<div>
    <p>
        {{comment.user.username}}<br />
        {{comment.date}}
    </p>
    <p>{{comment.body}}</p>
</div>
<br />
{{/each}}
{{/if}}


<form id="comment-form">
    <div>
        <textarea id="body-input" rows="2" placeholder="add a comment"></textarea>
    </div>
    <div>
        <button type="submit">add</button>
    </div>
</form>

<script src="/js/blog.js"></script>