<h2>welcome {{username}}</h2>

<div>
    <a href="/post">create a new post</a>
</div>

<div>
    {{#if blogs.length}}
    {{#each blogs as |blog|}}
    <div>
        <h4><a href="/blog/{{blog.id}}">{{blog.title}}</a></h4>
        <p>created on {{blog.date}}</p>
        <a href="/edit/{{blog.id}}" data-id="{{blog.id}}">edit</a>
        <button id="deleteBtn" data-id="{{blog.id}}">delete</button>
    </div>
    <br/>
    {{/each}}
    {{/if}}
</div>

<script src="/js/dashboard.js"></script>
