<h2>welcome {{username}}</h2>

<div>
    <a href="/post" class="card-link btn btn-info">create a new post</a>
</div>

{{#if blogs.length}}
{{#each blogs as |blog|}}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h4 class="card-title">{{blog.title}}</h4>
        <h5 class="card-subtitle mb-2 text-muted">{{format_date blog.date}}</h5>
        <a href="/blog/{{blog.id}}" class="btn btn-info" data-id="{{blog.id}}">read</a>
        <a href="/edit/{{blog.id}}" data-id="{{blog.id}}" class="card-link btn btn-info">edit</a>
        <a href="#" id="deleteBtn" data-id="{{blog.id}}" class="card-link btn btn-danger">delete</a>
    </div>
</div>
{{/each}}
{{/if}}

<script src="/js/dashboard.js"></script>